@import "tailwindcss";

:root {
  font-family: "Open Sans", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@theme {
  --font-jetbrains: "JetBrains Mono", monospace;
  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
